body {
    /* background: url("../img/bg.png") no-repeat center center fixed; 
    background-size: cover;   */
    overflow: hidden; 
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
}

:root {
    --box-shadow-color: 0px 1px 1px 0px rgba(50, 50, 50, 0.75);
}

.container {
    display: none;
}

@font-face {
    font-family: 'Gilroy';
    src: url("../font/Gilroy-ExtraBold.otf") format("opentype");
}

@font-face {
    font-family: 'Acrom';
    src: url("../font/Acrom-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'TT Norms';
    src: url("../font/TTNorms-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'Proxima Nova';
    src: url("../font/ProximaNova-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'pdown';
    src: url('../font/pdown.ttf');
}

/* voice */
.voice {
    position: absolute;
    width: 52px;
    height: 52px;
    right: 3vh;
    bottom: 2vh;
}

.voice-elipse {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border-radius: 50vh;
    right: 2px;
    top: -8px;
    z-index: 1;
    font-family: TT Norms;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #98A5C5;
    box-shadow: var(--box-shadow-color);
}

.voice-elipse-2 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50vh;
    width: 50px;
    height: 50px;
    background: #30475e;
    box-shadow: var(--box-shadow-color);
}

.circle-ripple {
    display: none;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation: ripple 0.7s linear infinite;
}
  
@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 rgb(48 71 94 / 30%),
                    0 0 0 3px rgb(48 71 94 / 30%),
                    0 0 0 8px rgb(48 71 94 / 30%);
    }
    100% {
        box-shadow: 0 0 0 3px rgb(48 71 94 / 30%),
                    0 0 0 8px rgb(48 71 94 / 30%),
                    0 0 0 16px rgb(48 71 94 / 0%);
    }
}

.voice-microphe-icon-1 {
    position: absolute;
    width: 13.09px;
    height: 18px;
}

.voice-microphe-icon-2 {
    position: absolute;
    width: 25.45px;
    height: 35px;
}

/* speed motter*/
.car-hud {
    position: absolute;
    right: 3vh;
    bottom: 0;
    display: none;
    filter: drop-shadow(1px 1px 1px rgb(1 1 1));
}

.gosterge {
    width: 98px;
    height: 100px;
    zoom: 2.3;
}

.speed-bar {
    position: absolute;
}

.speed-ic {
    stroke: rgba(255, 255, 255, 0.3);
    stroke-width: 1.5;
    fill: transparent;
    r: 46;
    cx: 48;
    cy: 53;
    stroke-dasharray: 165, 122;
    stroke-dashoffset: -115;
    stroke-linecap: round;
}

.speed-dis {
    stroke: #3989ff;
    stroke-width: 4.0;
    fill: transparent;
    r: 46;
    cx: 49;
    cy: 53;
    stroke-dasharray: 55, 185;
    stroke-dashoffset: -115;
    stroke-linecap: round;
}

.fuel-bar {
    position: absolute;
    overflow: hidden;
    width: 30px;
    height: 50px;
    right: 0;
    top: 33px;
}

.fuel-ic {
    stroke: rgba(255, 255, 255, 0.3);
    stroke-width: 1.5;
    fill: transparent;
    r: 46;
    cx: -20;
    cy: 20;
    stroke-dasharray: 30, 180;
    stroke-linecap: round;
}

.fuel-dis {
    stroke: #fff;
    stroke-width: 4;
    fill: transparent;
    r: 46;
    cx: -20;
    cy: 20;
    stroke-dasharray: 6, 180;
    stroke-linecap: round;
}

.km-s {
    position: absolute;
    top: 65px;
    left: 60px;
    color: #fff;
    font-size: 75px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 500;
    width: 100px;
    display: flex;
    justify-content: center;
}

.km-s-text {
    position: absolute;
    top: 145px;
    left: 97px;
    color: #fff;
    font-size: 20px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 300;
}

.fuel-icon {
    color: #fff;
    right: 26px;
    top: 196px;
    position: absolute;
    font-size: 10px;
}

.car-icons {
    color: #fff;
    font-size: 12px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 71px;
    top: 196px;
}

#car-light {
    color: #fff;
}

#car-belt {
    color: #fff;
}

#car-engine {
    color: rgb(255 255 255 / 30%);
}

#car-cruise {
    color: rgb(255 255 255 / 30%);
}

.engine-error {
    position: absolute;
    color: rgb(255 255 255 / 30%);
    font-size: 25px;
    top: 45px;
    left: 98px;
}

/* street Text */
.street-text {
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 1.1vh;
    color: #FFFFFF;
    position: absolute;
    left: 1.8vh;
    bottom: 6vh;
    min-width: 253px;
}

.street-text-main {
    min-width: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.street-text-compass {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: #30475e;
    height: 3vh;
    width: 3vh;
    border-radius: 3px;
    box-shadow: var(--box-shadow-color);
    font-size: 1.1vh;
}

.street-text-text {
    padding: 0 20px 0 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 1px rgb(1 1 1);
    font-size: 1.3vh;
}

/* minimap */
.mapoutline {
    display: none;
    position: fixed;
    border: 2px solid rgba(255,255,255,0.2);
    overflow: hidden;
    width: 29.629vh;
    height: 15.7vh;
    bottom: 3.2vh;
    left: 2.6vh;
    width: 24.7vh;
    border-radius: 3px;
}

/* Status Hud */

.status-hud {
    display: flex;
    position: absolute;
    bottom: 2.0vh;
    left: 1.8vh;
    width: 32vh;
    font-size: 1.4vh;
}

.status-bar {
    position: relative;
    background: rgba(17, 17, 17, 0.5);
    width: 100%;
    height: 3vh;
    border-radius: 2px;
    display: flex;
    align-items: center;
    margin-right: 5px;
    box-shadow: var(--box-shadow-color);
    justify-content: center;
}

.car-water-bar {
    margin-right: 0;
}

.status-bar svg {
    position: absolute;
    color: #fff;
    z-index: 1;
}

.status-bar-bg {
    background: #30475e;
    position: absolute;
    width: 0;
    height: 100%;
    border-radius: 2px;
    left: 0;
}

#hunger-bar {
    width: 83.15px;
    justify-content: center;
}

#water-bar {
    width: 83.15px;
    justify-content: center;
}

#oxy-bar {
    width: 83.15px;
    justify-content: center;
}

#stress-bar {
    width: 83.15px;
    justify-content: center;
}

#addiction-bar {
    display: none;
    width: 83.15px;
    justify-content: center;
}

#stamina-bar {
    width: 83.15px;
    justify-content: center;
}

#heal {
    background: #31a372;
}

#zirh {
    background: #3989ff;
}

#hunger, #car-hunger {
    background: #d5993d;
}

#thirst, #car-thirst {
    background: #4a79af;
}

#stamina {
    background: #485a78;
}

#oxy {
    background: #800;
}

#stress {
    background: #800;
}

/* Money */
.money-cash {
    opacity: 0.0;
    position: absolute;
    right: 5vw;
    top: 7vh;
    font-family: 'pdown';
    font-weight: 400;
    font-size: 29px;
    padding: 4px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin-right: 6px;
    margin-top: 6px;
}

.money-cash p {
    padding: 5px 0;
    margin: 0;
}

.munnie {
    color: #277418;
}

#cash, #addCashValue {
    color: white;
}

#addCash {
    opacity: 0.0;
}

/* Hud Menü */
.hud-menu-container {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    z-index: 9999;
}

.hud-menu {
    width: 1000px;
    background: #484848;
}

.hud-checkbox-menu-container {
    display: flex;
    flex-wrap: wrap;
}

.hud-command-menu {
    color: #fff;
    background: #484848;
    max-height: 500px;
    overflow: auto;
}

/* width */
.hud-command-menu::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
.hud-command-menu::-webkit-scrollbar-track {
    background: #383838;
}
  
  /* Handle */
.hud-command-menu::-webkit-scrollbar-thumb {
    background: #212121;
}
  
  /* Handle on hover */
.hud-command-menu::-webkit-scrollbar-thumb:hover {
    background: #010101;
}

.hud-command-content {
    display: flex;
    flex-direction: row;
}

.hud-command-name {
    border-right: 1px solid #212121;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 150px;
}

.hud-command-exp {
    padding: 15px;
}

.hud-menu-header {
    background: #212121;
    display: flex;
    height: 45px;
    color: #fff;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.hud-menu-header-text {
    font-weight: bold;
}

.hud-menu-header-close {
    font-size: 25px;
}

.hud-menu-header-close:hover {
    color: rgb(214, 0, 0);
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #bbbbbb;
    box-shadow: inset 0 1px 3px rgb(0 0 0 / 22%);
    border-radius: 1px;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: 0 2px 5px rgb(0 0 0 / 22%);
    border-radius: 1px;
}
  
input:checked + .slider {
    background-color: #629749;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #629749;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.hud-menu-content {
    padding: 5px 10px;
    width: 480px;
}

.hud-menu-content-setting {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hud-menu-content-setting-text {
    color: #fff;
    font-weight: 400;
}

/* black bar */
.blackbar-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    z-index: 99;
}

.blackbar-bar {
    width: 100%;
    height: 10vh;
    background: #000;
}

/* salty Uyarı */
.salty-error {
    display: none;
    background: rgb(51 51 51 / 50%);
    padding: 5px 10px;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, 0);
    text-shadow: 1px 1px #000;
}

/* Gelişmiş Pusula */
.tepe-hud {
    width: 100%;
    position: absolute;
    top: 0;
    height: 50px;
    display: none;
    justify-content: center;

    flex-direction: row;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.7px;
    font-size:16px;
    font-weight: 600;
    font-variant: small-caps;
    filter: drop-shadow(1px 1px 1px rgb(1 1 1));
}

.street-sol {
    padding-right: 15px;
    position: absolute;
    right: 53%;
}

.street-sag {
    padding-left: 15px;
    position: absolute;
    left: 53%;
}

.direction-tip2 {
    width: 100px;
    height: 26px;
    overflow: hidden;
    position: absolute;
}

.direction-tip2>.image-2 {
    height: 100%;
    background-position: center center;
    background-size: 400px;
    background-repeat: repeat;
    width: 800%;
    z-index: 1;
    background-image: url('../img/compass-top.png');
}

.tirnak {
    content: "";
    background-image: url('../img/tirnak.png');
    position: absolute;
    width: 100%;
    height: 50px;
    background-repeat: no-repeat;
    left: 50%;
    top: 0;
}