@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
:root {
    --primary-color: #394D61;
    --accent-color: #2D3139;
    --accent2: #1F2226;
    --opacity-color: rgba(0, 0, 0, 0.2);
    --off-white: #bfbfbf;
    --close: #e29245;
    --green: #69da40;
    --red: rgb(226, 103, 103);
    --dark: black;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar-thumb {
    display: none;
}

html {
    overflow: hidden;
    font-family: 'Mukta', sans-serif;
}


/* Citizen */

#citizen {
    display: flex;
    justify-content: center;
    align-self: center;
}


/* Citizen */

#DRX_MDW {
    background: var(--primary-color);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 1900px;
    height: 1000px;
    font-family: 'Mukta', sans-serif;
}

#loading {
    position: absolute;
    background: #1f2229;
    height: 200px;
    width: 400px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 80px;
    margin: auto;
    z-index: 100;
}

#navigation {
    position: absolute;
    width: 250px;
    height: 1000px;
    background: var(--opacity-color);
    border-right: solid 5px var(--accent-color);
}

#nav-logo {
    height: 208px;
}

#nav-logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

#nav-btns {
    height: 720px;
    overflow: auto;
}

#nav-btns .v-list-item {
    border-top: 1px solid;
    background: var(--accent2);
    width: 245px;
    color: var(--off-white) !important;
    cursor: pointer;
}

#nav-btns .v-list-group {
    background: var(--accent-color);
    color: var(--off-white) !important;
}

#nav-btns .v-list-group .scnd {
    padding: 11px 10px;
}

#config {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#config .duty-btn {
    background: #249554;
    color: var(--dark);
    width: 100%;
}

#config .config-btn {
    background: var(--accent-color);
    width: 100%;
}

#container {
    position: relative;
    float: right;
    width: 1650px;
    height: 1000px;
    background: rgba(0, 0, 0, 0.1);
}


/* DASHBOARD */

.dashboard .dp1 {
    padding: 20px 70px;
}

.dashboard .dp1 .textofday {
    width: 1515px;
    height: 123px;
    background: var(--accent-color);
    padding: 10px 10px;
    color: var(--off-white);
    overflow: auto;
}

.dashboard .dp1 .created {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.dashboard .dp1 .created h3 {
    position: absolute;
    color: var(--off-white);
    font-weight: 100;
}

.dashboard .dp1 .created .column {
    margin-top: 30px;
    height: 250px;
    width: 100%;
    background: var(--accent-color);
    padding: 10px 10px;
    display: flex;
    overflow: auto;
    gap: 10px;
}

.dashboard .dp1 .created .column .result {
    position: relative;
    height: 80%;
    min-width: 200px !important;
    top: 15%;
    background: var(--opacity-color);
}

.dashboard .dp1 .created .column .result h4 {
    text-align: center;
    font-weight: 600;
    color: var(--off-white);
    background: rgba(0, 0, 0, 0.6);
}

.dashboard .dp1 .created .column .result .v-btn {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: var(--close);
}

.dashboard .dp1 .created .column .result .v-image {
    height: 100%;
    width: 200px;
}

.dashboard .dp2 {
    padding: 20px 70px;
    display: flex;
    justify-content: space-between;
}

.dashboard .dp2>div {
    height: 960px;
    width: 490px;
    background: var(--accent-color);
    padding: 10px 10px;
    position: relative;
    overflow: auto;
}

.dashboard .dp2 .ano .top {
    display: flex;
    justify-content: space-between;
}

.dashboard .dp2 .ano .top h3 {
    font-weight: 100;
    color: var(--off-white);
}

.dashboard .dp2 .ano .top .v-text-field {
    max-width: 40%;
    margin-bottom: -10px;
    margin-top: -20px;
}

.dashboard .dp2 .ano .result {
    background: var(--opacity-color);
    height: 60px;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px 10px;
}

.dashboard .dp2 .ano .result h4,
h5 {
    color: var(--off-white);
    font-weight: 100;
}

.dashboard .dp2 .officers h3 {
    color: var(--off-white);
    font-weight: 100;
}

.dashboard .dp2 .officers .result {
    background: var(--opacity-color);
    width: 100%;
    height: 50px;
    display: flex;
    padding: 5px 5px;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

.dashboard .dp2 .officers .result h4 {
    color: var(--off-white);
}

.dashboard .dp2 .chat .v-text-field {
    position: absolute;
    bottom: 0;
    right: 10px;
}

.dashboard .dp2 .chat .chat-box {
    height: 90%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.2);
}

.dashboard .dp2 .chat .chat-box .v-card {
    background: transparent;
}

.dashboard .dp2 .chat h3 {
    font-weight: 100;
    color: var(--off-white);
}

.chat-message {
    display: unset !important;
    white-space: break-spaces;
}

.chat-screen {
    max-height: 320px;
    overflow-y: auto;
}

.flex-none {
    flex: unset;
}

.received-message::after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 54px;
    right: auto;
    top: 12px;
    bottom: auto;
    border: 12px solid;
    border-color: #4caf50 transparent transparent transparent;
}

.sent-message::after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: 54px;
    top: 12px;
    bottom: auto;
    border: 12px solid;
    border-color: #1976d2 transparent transparent transparent;
}


/* DASHBOARD */


/* PROFILES */

.profiles-mainbox {
    width: 1650px;
    height: 1000px;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    align-items: center;
}

.profiles-main-search {
    position: relative;
    width: 537px;
    height: 980px;
    background: var(--opacity-color);
}

.profiles-main-search .profiles-main-nav {
    height: 100px;
}

.profiles-main-search h3 {
    position: absolute;
    top: 10px;
    left: 10px;
    color: var(--off-white);
    font-weight: 100;
}

.profiles-main-search .v-text-field {
    position: absolute;
    top: 0;
    right: 20px;
}

.profiles-main-result {
    height: 880px;
    overflow-x: auto;
}

.profiles-main-result .result {
    background: var(--accent-color);
    width: 450px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 8 10;
    display: flex;
    gap: 10px;
}

.profiles-main-result .result h4,
h5 {
    color: var(--off-white);
    font-weight: 100;
}

.profiles-main-result .result .v-image {
    height: 80px;
    width: 80px;
}

.profiles-main-result .result .v-chip {
    margin-right: 5px;
    margin-top: 5px;
}

.profiles-main-profile {
    position: relative;
    width: 537px;
    height: 980px;
    background: var(--opacity-color);
    padding: 10 10;
}

.profiles-main-profile h3 {
    font-weight: 100;
}

.profiles-main-profile .nav {
    height: 50px;
    color: var(--off-white);
}

.profiles-main-profile .nav .wrap {
    position: absolute;
    right: 5px;
    top: 5px;
}

.profiles-main-profile .nav .v-btn {
    color: var(--off-white);
}

.profiles-main-profile .result {
    position: relative;
    height: 150px;
}

.profiles-main-profile .result .left {
    width: 150px;
    height: 150px;
}

.profiles-main-profile .result .left .img {
    width: 150px;
}

.profiles-main-profile .result .left .wanted-img {
    position: absolute;
    width: 150px;
    left: 0;
}

.profiles-main-profile .result .left .wanted {
    background: var(--close);
    width: 150px;
    height: 5px;
    bottom: -5;
}

.profiles-main-profile .result .right {
    position: absolute;
    top: 0;
    right: 0;
    width: 340px;
    float: right;
    height: 150px;
}

.profiles-main-profile .result .right .v-text-field {
    padding: 0;
    margin: 0;
}

.profiles-main-profile .v-textarea {
    margin-top: 30px;
    background: var(--accent-color);
    padding: 5px 10px;
}

.profiles-main-info {
    position: relative;
    width: 537px;
    height: 980px;
    overflow: auto;
}

.profiles-main-info h3 {
    color: var(--off-white);
    font-weight: 100;
    margin-bottom: 15px;
}

.profiles-main-info .identity {
    min-height: 100px;
    background: var(--opacity-color);
    padding: 5px 5px;
    margin-bottom: 10px;
}

.profiles-main-info .licences {
    position: relative;
    min-height: 100px;
    background: var(--opacity-color);
    padding: 5px 5px;
    margin-bottom: 10px;
}

.profiles-main-info .licences v-menu,
.v-list {
    background: var(--primary-color) !important;
}

.profiles-main-info .licences .v-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    color: var(--off-white);
}

.profiles-main-info .tags {
    position: relative;
    min-height: 100px;
    background: var(--opacity-color);
    padding: 5px 5px;
    margin-bottom: 10px;
}

.profiles-main-info .tags v-menu,
.v-list {
    background: var(--primary-color) !important;
}

.profiles-main-info .tags .v-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    color: var(--off-white);
}

.profiles-main-info .vehicles {
    min-height: 100px;
    background: var(--opacity-color);
    padding: 5px 5px;
    margin-bottom: 10px;
}

.profiles-main-info .housing {
    min-height: 100px;
    background: var(--opacity-color);
    padding: 5px 5px;
    margin-bottom: 10px;
}

.profiles-main-info .employment {
    min-height: 100px;
    background: var(--opacity-color);
    padding: 5px 5px;
    margin-bottom: 10px;
}

.profiles-main-info .history {
    min-height: 100px;
    background: var(--opacity-color);
    padding: 5px 5px;
    margin-bottom: 10px;
}

.profiles-main-info .v-chip {
    margin-bottom: 10px;
    margin-right: 5px;
}

.charges-overlay {
    position: absolute;
    width: 1900px;
    height: 1000px;
}

.charges-overlay .charges-box {
    position: relative;
    width: 1600px;
    height: 850px;
    background: var(--accent-color);
    padding: 10px 10px;
}

.charges-overlay .charges-box .charges-close {
    position: absolute;
    top: 10px;
    right: 90px;
    background: var(--close) !important;
    color: var(--dark);
}

.charges-overlay .charges-box .charges-done {
    position: absolute;
    right: 10px;
    top: 10px;
    background: var(--green) !important;
    color: var(--dark);
}

.charges-overlay .charges-overlay-current {
    padding-bottom: 15px;
}

.charges-overlay .charges-overlay-current .selected {
    margin-top: 10px;
}

.charges-overlay .charges-overlay-current .selected .v-chip {
    margin-right: 10px;
    margin-top: 5px;
    background: var(--dark);
}

.charges-overlay .charges-overlay-current .selected .v-chip .v-icon {
    margin-left: 10px;
}

.incident-addedCriminal-divider {
    width: 100%;
    border: 0;
    border-top: 3.5px solid rgba(255, 255, 255, 0.35);
}


/* OVERLAY BIG BOX */

.big-box-overlay {
    position: absolute;
    width: 1900px;
    height: 1000px;
}

.big-box-overlay .box {
    position: relative;
    width: 1200px;
    height: 600px;
    background: var(--accent-color);
    padding: 20px 50px;
}

.big-box-overlay .box .close {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    margin: auto;
    background: var(--close) !important;
    color: var(--dark);
}

.big-box-overlay .box .info {
    border: solid red 1px;
    background: transparent !important;
    width: 300px;
    height: 500px;
}

.big-box-overlay .box .info h3,
h4 {
    font-weight: 100;
}

.big-box-overlay .box .mods {
    border: solid red 1px;
    position: absolute;
    right: 50;
    top: 20;
    width: 700px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


/* OVERLAY BIG BOX */


/* PROFILES */


/* INCIDENTS */

.incidents-mainbox {
    width: 1650px;
    height: 1000px;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    align-items: center;
}

.incidents-main-search {
    position: relative;
    width: 537px;
    height: 980px;
    background: var(--opacity-color);
}

.incidents-main-search .nav {
    height: 100px;
}

.incidents-main-search h3 {
    position: absolute;
    top: 10px;
    left: 10px;
    color: var(--off-white);
    font-weight: 100;
}

.incidents-main-search .v-text-field {
    position: absolute;
    top: 0;
    right: 20px;
}

.incidents-main-search .result {
    height: 850px;
    overflow-x: auto;
}

.incidents-main-search .result>div {
    background: var(--accent-color);
    /*     height: 60px; */
    width: 450px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 8 10;
}

.incidents-main-search .result div h4,
h5 {
    color: var(--off-white);
    font-weight: 100;
    overflow: auto;
}

.incidents-main-profile {
    position: relative;
    width: 537px;
    height: 980px;
    overflow-x: auto;
}

.incidents-main-profile .result {
    height: 490px;
    color: var(--off-white);
    background: var(--opacity-color);
    padding: 10px 10px;
    margin-bottom: 10px;
}

.incidents-main-profile .result h3 {
    font-weight: 100;
}

.incidents-main-profile .result .wrap {
    position: absolute;
    right: 5px;
    top: 5px;
}

.incidents-main-profile .result .v-btn {
    color: var(--off-white);
}

.incidents-main-profile .result .v-text-field {
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

.incidents-main-profile .result .v-textarea {
    background: var(--accent-color);
    padding: 5px 10px;
    width: 100%;
}

.incidents-main-profile .wrapTwo h3 {
    margin-bottom: 10px;
}

.incidents-main-profile .wrapTwo .v-chip {
    margin-right: 5px;
    margin-bottom: 10px;
}

.incidents-main-profile .wrapTwo .incident-edit-btns {
    position: absolute;
    top: 5px;
    right: 5px;
    color: var(--off-white);
}

.incidents-main-profile .evidence {
    min-height: 112.5px;
    color: var(--off-white);
    background: var(--opacity-color);
    padding: 10px 10px;
    margin-bottom: 10px;
    position: relative;
}

.incidents-main-profile .officers {
    min-height: 112.5px;
    color: var(--off-white);
    background: var(--opacity-color);
    padding: 10px 10px;
    margin-bottom: 10px;
    position: relative;
}

.incidents-main-profile .persons {
    min-height: 112.5px;
    color: var(--off-white);
    background: var(--opacity-color);
    padding: 10px 10px;
    margin-bottom: 10px;
    position: relative;
}

.incidents-main-profile .tags {
    min-height: 112.5px;
    color: var(--off-white);
    background: var(--opacity-color);
    padding: 10px 10px;
    margin-bottom: 10px;
    position: relative;
}

.incidents-main-actions {
    position: relative;
    width: 537px;
    height: 980px;
    overflow: auto;
}

.incidents-main-actions .addCriminal {
    height: 60px;
    color: var(--off-white);
    background: var(--opacity-color);
    padding: 10px 10px;
    margin-bottom: 10px;
    overflow-x: auto;
    position: relative;
}

.incidents-main-actions .addCriminal .criminaladd-btns {
    position: absolute;
    top: 5px;
    right: 5px;
    color: var(--off-white);
}

.incidents-main-actions .addedCriminal {
    height: 420px;
    color: var(--off-white);
    background: var(--opacity-color);
    padding: 10px 10px;
    margin-bottom: 10px;
    overflow-x: auto;
    position: relative;
}

.incidents-main-actions .addedCriminal .edit-selected-charge {
    padding: 15px 0px;
}

.incidents-main-actions .addedCriminal .edit-selected-charge .v-chip {
    margin-bottom: 5px;
    margin-right: 5px;
}

.incidents-main-actions .addedCriminal .edit-selected-charge .charges {
    background: var(--dark);
    color: white;
}

.incidents-main-actions .addedCriminal .btns {
    position: absolute;
    top: 5px;
    right: 5px;
    color: var(--off-white);
}

.incidents-main-actions .addedCriminal .colorbtns {
    color: var(--off-white);
}

.incidents-main-profile .addedCriminal-charges {
    height: 105px;
    background: var(--opacity-color);
    padding: 10px 10px;
    margin-bottom: 10px;
    overflow-x: auto;
    position: relative;
}

.incidents-main-actions .addedCriminal-final {
    position: relative;
    left: 3px;
    bottom: 20px;
}

.addedCriminal-divider {
    border: 0;
    border-top: 3.5px solid rgb(32, 32, 32, 0.35);
}

#addedCriminal-selector {
    position: relative;
    width: 600px;
    right: 10px;
}

#pickerMenu {
    position: relative;
    width: 500px;
    right: 10px;
}


/* OVERLAY ADD */

.incident-add {
    position: absolute;
    width: 1900px;
    height: 1000px;
}

.incident-add-box {
    width: 820px;
    height: 300px;
    background: var(--accent-color);
    padding: 10px 10px;
}

.incident-add-box h5 {
    font-weight: 600;
    letter-spacing: 0.5;
}

.incident-add-box .v-text-field {
    margin: 0;
    padding: 0;
}

.incident-add-box .close {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    margin: auto;
    background: var(--close) !important;
    color: var(--dark);
}

.incident-add-box .result {
    height: 180px;
    overflow-x: auto;
}

.incident-add-box .v-chip {
    margin-right: 5px;
    margin-bottom: 5px;
}

.charges-overlay-box {
    width: 1580px;
    height: 780px;
    overflow-x: auto;
    color: var(--off-white);
    padding: 10px 10px;
}

.charges-overlay-box .val h2 {
    position: absolute;
    top: 0px;
    left: 13px;
}

.charges-overlay-box .search {
    position: relative;
    background: var(--opacity-color);
    padding: 10px 10px;
    margin-bottom: 10px;
    height: 110px;
}

.charges-overlay-box .search .v-text-field {
    width: 200px;
    position: absolute;
    right: 20px;
    top: 10px;
    margin: 0;
    padding: 0;
}

.charges-overlay-box .search p {
    position: absolute;
    bottom: 10px;
    width: 1540px;
    background: var(--accent-color);
    border: solid 1px var(--dark);
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.charges-overlay-box .box-charges {
    display: flex;
    flex-wrap: wrap;
}

.charges-overlay-box .box-charges .val {
    padding: 5px 5px;
    width: 25%;
}

.charges-overlay-box .box-charges .val .v-card {
    position: relative;
    padding: 5px 5px;
    border-radius: 0;
}

.charges-overlay-box .box-charges .val p {
    color: var(--dark);
    text-align: center;
}

.charges-overlay-box .box-charges .val .v-btn {
    position: absolute;
}

.charges-overlay-box .box-charges .val .box {
    display: flex;
    justify-content: space-evenly;
}


/* OVERLAY ADD */


/* INCIDENTS */


/* REPORTS */

.reports-mainbox {
    width: 1650px;
    height: 1000px;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    align-items: center;
}

.reports-main-search {
    position: relative;
    width: 537px;
    height: 980px;
    background: var(--opacity-color);
}

.reports-main-search .nav {
    height: 100px;
}

.reports-main-search h3 {
    position: absolute;
    top: 10px;
    left: 10px;
    color: var(--off-white);
    font-weight: 100;
}

.reports-main-search .v-text-field {
    position: absolute;
    top: 0;
    right: 20px;
}

.reports-main-search .result {
    height: 850px;
    overflow-x: auto;
}

.reports-main-search .result div {
    background: var(--accent-color);
    width: 450px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 8 10;
}

.reports-main-search .result div h4,
h5 {
    color: var(--off-white);
    font-weight: 100;
    overflow: auto;
}

.reports-main-profile {
    position: relative;
    width: 537px;
    height: 980px;
    overflow-x: auto;
}

.reports-main-profile .result {
    height: 980px;
    color: var(--off-white);
    background: var(--opacity-color);
    padding: 10px 10px;
    margin-bottom: 10px;
}

.reports-main-profile .result h3 {
    font-weight: 100;
    margin-bottom: 30px;
}

.reports-main-profile .result .wrap {
    position: absolute;
    right: 5px;
    top: 5px;
}

.reports-main-profile .result .v-btn {
    color: var(--off-white);
}

.reports-main-profile .result .v-text-field {
    width: 515px;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
}

.reports-main-profile .result .v-textarea {
    background: var(--accent-color);
    padding: 5px 10px;
    width: 100%;
    height: 798px;
}

.reports-main-actions {
    position: relative;
    width: 537px;
    height: 980px;
}

.reports-main-actions .tags {
    min-height: 112.5px;
    color: var(--off-white);
    background: var(--opacity-color);
    padding: 10px 10px;
    margin-bottom: 10px;
    position: relative;
}

.reports-main-actions .evidence {
    min-height: 112.5px;
    color: var(--off-white);
    background: var(--opacity-color);
    padding: 10px 10px;
    margin-bottom: 10px;
    position: relative;
}

.reports-main-actions .officers {
    min-height: 112.5px;
    color: var(--off-white);
    background: var(--opacity-color);
    padding: 10px 10px;
    margin-bottom: 10px;
    position: relative;
}

.reports-main-actions .persons {
    min-height: 112.5px;
    color: var(--off-white);
    background: var(--opacity-color);
    padding: 10px 10px;
    margin-bottom: 10px;
    position: relative;
}

.reports-main-actions h3 {
    margin-bottom: 10px;
}

.reports-main-actions .v-chip {
    margin-right: 5px;
    margin-bottom: 10px;
}

.reports-main-actions .reports-edit-btns {
    position: absolute;
    top: 5px;
    right: 5px;
    color: var(--off-white) !important;
}


/* OVERLAY ADD */

.report-add {
    position: absolute;
    width: 1900px;
    height: 1000px;
}

.report-add-box {
    width: 820px;
    height: 300px;
    background: var(--accent-color);
    padding: 10px 10px;
}

.report-add-box h5 {
    font-weight: 600;
    letter-spacing: 0.5;
}

.report-add-box .v-text-field {
    margin: 0;
    padding: 0;
}

.report-add-box .close {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    margin: auto;
    background: var(--close) !important;
    color: var(--dark);
}

.report-add-box .result {
    height: 180px;
    overflow-x: auto;
}

.report-add-box .v-chip {
    margin-right: 5px;
    margin-bottom: 5px;
}

.report-add-box .adding-images-btn {
    position: absolute;
    bottom: 5px;
    left: 150px;
    right: 0;
    margin: auto;
    background: var(--green) !important;
    color: black;
    width: 65px;
}


/* OVERLAY ADD */


/* REPORTS */


/* EVIDENCE */

.evidence-mainbox {
    width: 1650px;
    height: 1000px;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    align-items: center;
}

.evidence-main-search {
    position: relative;
    width: 537px;
    height: 980px;
    background: var(--opacity-color);
}

.evidence-main-search .nav {
    height: 100px;
}

.evidence-main-search h3 {
    position: absolute;
    top: 10px;
    left: 10px;
    color: var(--off-white);
    font-weight: 100;
}

.evidence-main-search .v-text-field {
    position: absolute;
    top: 0;
    right: 20px;
}

.evidence-main-search .result {
    height: 850px;
    overflow-x: auto;
}

.evidence-main-search .result div {
    background: var(--accent-color);
    width: 450px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 8 10;
}

.evidence-main-search .result div h4,
h5 {
    color: var(--off-white);
    font-weight: 100;
    overflow: auto;
}

.evidence-main-profile {
    position: relative;
    width: 537px;
    height: 980px;
    overflow-x: auto;
}

.evidence-main-profile .result {
    height: 980px;
    color: var(--off-white);
    background: var(--opacity-color);
    padding: 10px 10px;
    margin-bottom: 10px;
}

.evidence-main-profile .result h3 {
    font-weight: 100;
    margin-bottom: 30px;
}

.evidence-main-profile .result .wrap {
    position: absolute;
    right: 5px;
    top: 5px;
}

.evidence-main-profile .result .v-btn {
    color: var(--off-white);
}

.evidence-main-profile .result .v-text-field {
    width: 515px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
    padding: 0;
}

.evidence-main-profile .result img {
    max-width: 515px;
    min-width: 100px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    padding: 0;
}

.evidence-main-actions {
    position: relative;
    width: 537px;
    height: 980px;
}

.evidence-main-actions .tags {
    min-height: 112.5px;
    color: var(--off-white);
    background: var(--opacity-color);
    padding: 10px 10px;
    margin-bottom: 10px;
    position: relative;
}

.evidence-main-actions h3 {
    margin-bottom: 10px;
}

.evidence-main-actions .v-chip {
    margin-right: 5px;
    margin-bottom: 10px;
}

.evidence-main-actions .evidence-edit-btns {
    position: absolute;
    top: 5px;
    right: 5px;
    color: var(--off-white) !important;
}


/* EVIDENCE */


/* VEHICLES */

.vehicle-main-profile {
    position: relative;
    width: 537px;
    height: 980px;
    overflow-x: auto;
}

.vehicle-main-profile .result {
    height: 980px;
    color: var(--off-white);
    background: var(--opacity-color);
    padding: 10px 10px;
    margin-bottom: 10px;
}

.vehicle-main-profile .result h3 {
    font-weight: 100;
    margin-bottom: 30px;
}

.vehicle-main-profile .result .wrap {
    position: absolute;
    right: 5px;
    top: 5px;
}

.vehicle-main-profile .result .v-btn {
    color: var(--off-white);
}

.vehicle-main-profile .result .v-text-field {
    width: 515px;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
}

.vehicle-main-profile .result .v-textarea {
    background: var(--accent-color);
    padding: 5px 10px;
    width: 100%;
    height: 610px;
}


/* VEHICLES */


/* DISPATCH */

.dispatch-box {
    padding: 10px 10px;
}

.dispatch-box .top {
    display: grid;
    grid-template-columns: 1000px 620px;
    height: 340px;
    gap: 10px;
    margin-bottom: 50px;
}

.dispatch-box .units {
    background: var(--accent-color);
    padding: 10px 10px;
    overflow: auto;
}

.dispatch-box .top-unit {
    background: var(--opacity-color);
    padding: 10px 10px;
    display: grid;
    grid-template-columns: auto 250px auto;
    grid-template-rows: 50px;
    align-items: center;
    justify-content: space-between;
}

.dispatch-box .top-unit h3 {
    color: var(--off-white);
    font-weight: 100;
}

.dispatch-box .unit {
    padding: 10px 10px;
}

.dispatch-box .unit .v-expansion-panel {
    background: var(--primary-color);
    color: var(--off-white);
    border-radius: 0;
}

.dispatch-box .unit .v-expansion-panel .actions {
    float: right;
    margin-top: 30px;
}

.dispatch-box .unit .v-chip {
    margin-right: 5px;
}

.dispatch-box .settings {
    background: var(--accent-color);
    padding: 10px 10px;
}

.dispatch-box .top-unit2 {
    background: var(--opacity-color);
    padding: 10px 10px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 50px;
    align-items: center;
    justify-content: space-between;
}

.dispatch-box .top-unit2 h3 {
    color: var(--off-white);
    font-weight: 100;
}

.dispatch-box .settings .bottom {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 10px 10px;
}

.dispatch-box .settings .bottom .v-color-picker {
    height: 260px;
}

.dispatch-box .settings .noti {
    height: 270px;
    background: var(--accent-color);
    overflow: auto;
}

.dispatch-box .settings .noti span {
    display: flex;
    gap: 10px;
    align-items: center;
}

.dispatch-box .settings .noti h4 {
    color: var(--off-white);
    margin: 0 0 0 10px;
}

.dispatch-box .settings .noti .switch {
    margin: 10px 0px 18px 10px;
    height: 15px;
}

.dispatch-box .settings .v-input--checkbox {
    padding: 0;
    margin: 0 0 0 10px;
    height: 28px;
}

.dispatch-box .v-data-table {
    background: var(--accent-color);
    border-radius: 0;
}

.v-data-table>.v-data-table__wrapper>table>thead>tr>th {
    background: var(--opacity-color);
    color: var(--off-white) !important;
}

.v-data-table>.v-data-table__wrapper>table {
    color: var(--off-white) !important;
}

.create-unit {
    position: absolute;
    width: 1900px;
    height: 1000px;
}

.create-unit .box {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 500px;
    height: 300px;
    background: var(--primary-color);
    padding: 10px 10px;
}

.create-unit .box .close {
    position: absolute;
    right: 5px;
    top: 5px;
    margin: auto;
    background: var(--close) !important;
    color: var(--dark);
}

.create-unit .box h3 {
    color: var(--off-white);
    text-align: center;
}

.create-unit .box .inside {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 260px;
    padding: 10px 10px;
}

.create-unit .box .v-text-field {
    width: 50%;
    margin: auto;
}

.create-unit .box .inside .create {
    position: absolute;
    bottom: 5px;
    right: 0;
    left: 0;
    margin: auto;
    width: 150px;
    background: var(--green);
    color: var(--dark);
}


/* DISPATCH */


/* LEGISLATIONS */

.legi-main-profile {
    position: relative;
    width: 537px;
    height: 980px;
    overflow-x: auto;
}

.legi-main-profile .result {
    height: 980px;
    color: var(--off-white);
    background: var(--opacity-color);
    padding: 10px 10px;
    margin-bottom: 10px;
}

.legi-main-profile .result h3 {
    font-weight: 100;
    margin-bottom: 30px;
}

.legi-main-profile .result .wrap {
    position: absolute;
    right: 5px;
    top: 5px;
}

.legi-main-profile .result .v-btn {
    color: var(--off-white);
}

.legi-main-profile .result .v-text-field {
    width: 515px;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
}

.legi-main-profile .result .v-textarea {
    background: var(--accent-color);
    padding: 5px 10px;
    width: 100%;
    height: 898px;
}


/* LEGISLATIONS */


/* CHARGES */

.charges-panels-box {
    width: 1650px;
    height: 1000px;
    overflow-x: auto;
    color: var(--off-white);
    padding: 10px 10px;
}

.charges-panels-box .val h2 {
    position: absolute;
    top: 0px;
    left: 13px;
}

.charges-panels-box .search {
    position: relative;
    background: var(--opacity-color);
    padding: 10px 10px;
    margin-bottom: 10px;
    height: 110px;
}

.charges-panels-box .search .v-text-field {
    width: 200px;
    position: absolute;
    right: 20px;
    top: 10px;
    margin: 0;
    padding: 0;
}

.charges-panels-box .search p {
    position: absolute;
    bottom: 10px;
    width: 1610px;
    background: var(--accent-color);
    border: solid 1px var(--dark);
    padding: 0;
    margin: 0;
    font-size: 14px;
    padding: 5px 5px;
}

.charges-panels-box .box-charges {
    display: flex;
    flex-wrap: wrap;
}

.charges-panels-box .box-charges .val {
    padding: 5px 5px;
    width: 25%;
}

.charges-panels-box .box-charges .val .v-card {
    position: relative;
    padding: 5px 5px;
    border-radius: 0;
}

.charges-panels-box .box-charges .val p {
    color: var(--dark);
    text-align: center;
}

.charges-panels-box .box-charges .val .v-icon {
    position: absolute;
}

.charges-panels-box .box-charges .val .box {
    display: flex;
    justify-content: space-evenly;
}


/* CHARGES */


/* STAFF */

.staffs-mainbox {
    position: absolute;
    right: 0;
    width: 1650px;
    height: 1000px;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    align-items: center;
}

.staffs-main-search {
    position: relative;
    width: 537px;
    height: 980px;
    background: var(--opacity-color);
}

.staffs-main-search .staffs-main-nav {
    height: 100px;
}

.staffs-main-search h3 {
    position: absolute;
    top: 10px;
    left: 10px;
    color: var(--off-white);
    font-weight: 100;
}

.staffs-main-search .v-text-field {
    position: absolute;
    top: 0;
    right: 20px;
}

.staffs-main-result {
    height: 850px;
    overflow-x: auto;
}

.staffs-main-result div {
    background: var(--accent-color);
    height: 60px;
    width: 450px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 8 10;
}

.staffs-main-result div h4,
h5 {
    color: var(--off-white);
    font-weight: 100;
}

.staffs-main-profile {
    position: relative;
    width: 537px;
    height: 980px;
}

.staffs-main-profile .profile {
    position: relative;
    width: 537px;
    height: 440px;
    background: var(--opacity-color);
    padding: 10px 10px;
}

.staffs-main-profile h3 {
    font-weight: 100;
}

.staffs-main-profile .nav {
    height: 50px;
    color: var(--off-white);
}

.staffs-main-profile .nav .wrap {
    position: absolute;
    right: 5px;
    top: 5px;
}

.staffs-main-profile .nav .v-btn {
    color: var(--off-white);
}

.staffs-main-profile .result {
    position: relative;
    height: 150px;
}

.staffs-main-profile .result .left {
    width: 150px;
    height: 150px;
}

.staffs-main-profile .result .left img {
    width: 150px;
}

.staffs-main-profile .result .right {
    position: absolute;
    top: 0;
    right: 0;
    width: 340px;
    float: right;
    height: 150px;
}

.staffs-main-profile .result .right .v-text-field {
    padding: 0;
    margin: 0;
}

.staffs-main-profile .changeables {
    background: var(--opacity-color);
    position: relative;
    width: 537px;
    height: 390px;
    padding: 10px 10px;
    margin-top: 10px;
}

.staffs-main-profile .changeables h3 {
    color: var(--off-white);
}

.staffs-main-profile .actions {
    background: var(--opacity-color);
    position: relative;
    width: 537px;
    height: 130px;
    padding: 10px 10px;
    margin-top: 10px;
}

.staffs-main-profile .actions h3 {
    color: var(--off-white);
}

.staffs-main-profile .actions .btns {
    height: 62px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.staffs-main-profile .actions .btns .v-btn {
    background: var(--close);
    color: var(--dark);
}

.staffs-main-info {
    position: relative;
    width: 537px;
    height: 980px;
}

.staffs-main-info h3 {
    color: var(--off-white);
    font-weight: 100;
    margin-bottom: 15px;
}

.staffs-main-info .roles {
    min-height: 100px;
    background: var(--opacity-color);
    padding: 5px 5px;
    margin-bottom: 10px;
}

.staffs-main-info .roles v-menu,
.v-list {
    background: var(--primary-color) !important;
}

.staffs-main-info .roles .v-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    color: var(--off-white);
}

.staffs-main-info .v-chip {
    margin-bottom: 10px;
    margin-right: 5px;
}


/* STAFF */


/* Staff Employees */

.SubEmployees {
    padding: 20px 20px;
}


/* Staff Employees */


/* Staff Acedemy */

.SubAcademy {
    padding: 20px 20px;
}

.SubAcademy .top {
    height: 100px;
    background: var(--accent-color);
    padding: 10px 10px;
    margin-bottom: 20px;
}

.SubAcademy .top .new {
    height: 100%;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    gap: 20px;
    background: var(--opacity-color);
    padding: 10px 10px;
}

.SubAcademy .top .new .v-text-field {
    max-width: 300px;
}

.SubAcademy .top .new .v-btn {
    background: var(--green);
}


/* Staff Acedemy */


/* Staff Disciplinary */

.SubDisciplinary {
    padding: 20px 20px;
}

.SubDisciplinary .top {
    height: 100px;
    background: var(--accent-color);
    padding: 10px 10px;
    margin-bottom: 20px;
}

.SubDisciplinary .top .new {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    gap: 20px;
    background: var(--opacity-color);
    padding: 10px 10px;
}

.SubDisciplinary .top .new .v-btn {
    background: var(--green);
}


/* Staff Disciplinary */


/* Staff ten codes/cmds */

.tencmd {
    padding: 20px 20px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    gap: 20px;
}


/* Staff ten codes/cmds */


/* EDIT POINTS */

.editpoints {
    position: absolute;
    width: 1900px;
    height: 1000px;
}

.editpoints .box {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 500px;
    height: 200px;
    background: var(--primary-color);
    padding: 10px 10px;
}

.editpoints .box .close {
    position: absolute;
    right: 5px;
    top: 5px;
    margin: auto;
    background: var(--close) !important;
    color: var(--dark);
}

.editpoints .box h3 {
    color: var(--off-white);
    text-align: center;
}

.editpoints .box .inside {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 300px;
    height: 100px;
    display: flex;
}

.editpoints .box .inside .v-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 150px;
    background: var(--green);
    color: var(--dark);
}


/* EDIT POINTS */


/* CONFIG */

.showconfig {
    background: var(--primary-color);
    margin: auto;
    width: 1900px;
    height: 1000px;
}

.showconfig .tab {
    width: 1900px;
    height: 1000px;
    padding: 20px 20px;
}

.showconfig .tab .nav {
    position: relative;
    background: #484848;
    height: 50px;
    display: flex;
    justify-content: center;
}

.showconfig .tab .nav .tabs {
    height: 50px;
    width: 120px;
    font-weight: 600;
}

.showconfig .tab .nav .tabs:disabled {
    border-bottom: solid 2px var(--close);
    color: var(--close) !important;
}

.showconfig .tab .nav .close {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    margin: auto;
    background: var(--close) !important;
    color: var(--dark);
}

.config-staff-header {
    text-align: center;
    margin-top: 20px;
    font-weight: 100;
}

.config-staff {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 1150px;
    height: 600px;
    display: flex;
    padding: 20px 20px;
    justify-content: space-between;
    align-items: center;
}

.config-staff-new {
    position: relative;
    width: 537px;
    height: 600px;
}

.config-staff-new .profile {
    position: relative;
    width: 537px;
    height: 545px;
    background: var(--opacity-color);
    padding: 10px 10px;
}

.config-staff-new h3 {
    font-weight: 100;
}

.config-staff-new .navi {
    height: 50px;
    color: var(--off-white);
}

.config-staff-new .result {
    position: relative;
    height: 150px;
}

.config-staff-new .result .left {
    width: 150px;
    height: 150px;
}

.config-staff-new .result .left img {
    width: 150px;
}

.config-staff-new .result .right {
    position: absolute;
    top: 0;
    right: 0;
    width: 340px;
    float: right;
    height: 350px;
}

.config-staff-new .result .right .v-text-field {
    padding: 0;
    margin: 0;
}

.config-staff-new .actions {
    background: var(--opacity-color);
    position: relative;
    width: 537px;
    height: 130px;
    padding: 10px 10px;
    margin-top: 10px;
}

.config-staff-new .actions h3 {
    color: var(--off-white);
}

.config-staff-new .actions .btns {
    height: 62px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.config-staff-new .actions .btns .clear {
    width: 150px;
    background: var(--close);
    color: var(--dark);
}

.config-staff-new .actions .btns .hire {
    width: 150px;
    background: var(--green);
    color: var(--dark);
}

.config-staff-info {
    position: relative;
    width: 537px;
    height: 600px;
}

.config-staff-info h3 {
    color: var(--off-white);
    font-weight: 100;
    margin-bottom: 15px;
}

.config-staff-info .roles {
    min-height: 100px;
    background: var(--opacity-color);
    padding: 5px 5px;
    margin-bottom: 10px;
}

.config-staff-info .roles v-menu,
.v-list {
    background: var(--primary-color) !important;
}

.config-staff-info .roles .v-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    color: var(--off-white);
}

.config-staff-info .v-chip {
    margin-bottom: 10px;
    margin-right: 5px;
}

.showconfig .box {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between
}

.showconfig .message {
    width: 500px;
    height: 890px;
    background: var(--opacity-color);
    padding: 10px 10px;
}

.showconfig .message h3 {
    font-weight: 100;
}

.showconfig .message .v-btn {
    margin: -3px auto;
    display: block;
    background: var(--green);
    color: var(--dark);
}

.showconfig .eano {
    position: relative;
    width: 500px;
    height: 890px;
    background: var(--opacity-color);
    padding: 10px 10px;
}

.showconfig .eano h3 {
    position: absolute;
    font-weight: 100;
}

.showconfig .eano .v-text-field {
    position: absolute;
    right: 10px;
    top: -15px;
}

.showconfig .eano .result {
    margin-top: 30px;
}

.showconfig .eano .result>div {
    background: var(--opacity-color);
    height: 60px;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px 10px;
}

.showconfig .eano .result>div h4,
h5 {
    color: var(--off-white);
    font-weight: 100;
}

.showconfig .ano {
    position: relative;
    width: 820px;
    height: 890px;
    background: var(--opacity-color);
    padding: 10px 10px;
    display: flex;
}

.showconfig .ano h3 {
    position: absolute;
    font-weight: 100;
}

.showconfig .ano .left {
    margin-top: 30px;
    width: 50%;
}

.showconfig .ano .left .v-btn {
    width: 100%;
    background: var(--green);
    color: var(--accent-color);
}

.showconfig .ano .right {
    width: 50%;
    padding: 10px 10px;
    overflow: auto;
}

.showconfig .ano .right .tags {
    min-height: 112.5px;
    color: var(--off-white);
    background: var(--opacity-color);
    padding: 10px 10px;
    margin-bottom: 10px;
    position: relative;
}

.showconfig .ano .right .tags .result {
    margin-top: 30px;
}

.showconfig .ano .right .tags .v-chip {
    margin-right: 5px;
    margin-bottom: 10px;
}

.showconfig .ano .right .images {
    min-height: 112.5px;
    color: var(--off-white);
    background: var(--opacity-color);
    padding: 10px 10px;
    margin-bottom: 10px;
    position: relative;
}

.showconfig .ano .right .images .result {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.showconfig .ano .right .images .result .v-image {
    width: 100px;
}

.showconfig .ano .right .images .result .v-image .v-btn {
    color: var(--close);
    background: var(--opacity-color);
}

.showconfig .ano .right .v-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    color: var(--off-white);
}


/* CONFIG */


/* CONFIG SHOWANO */

.showano {
    height: 1000px;
    position: absolute;
    inset: 0;
    background: var(--opacity-color);
    z-index: 1;
}

.showano .box {
    width: 1209px;
    height: 920px;
    position: absolute;
    inset: 0;
    margin: auto;
    background: var(--accent-color);
    padding: 30px 10px;
    display: flex;
    overflow: auto;
}

.showano .close {
    position: absolute;
    right: 5px;
    top: 5px;
    margin: auto;
    background: var(--close) !important;
    color: var(--dark);
}

.showano h3 {
    position: absolute;
    font-weight: 100;
}

.showano .left {
    margin-top: 30px;
    width: 50%;
}

.showano .btns {
    display: flex;
    justify-content: space-between;
}

.showano .left .s {
    width: 48%;
    background: var(--green);
    color: var(--accent-color);
}

.showano .left .r {
    width: 48%;
    background: var(--close);
    color: var(--accent-color);
}

.showano .right {
    width: 50%;
    padding: 10px 10px;
    overflow: auto;
}

.showano .right .tags {
    min-height: 112.5px;
    color: var(--off-white);
    background: var(--opacity-color);
    padding: 10px 10px;
    margin-bottom: 10px;
    position: relative;
}

.showano .right .tags .result {
    margin-top: 30px;
}

.showano .right .tags .v-chip {
    margin-right: 5px;
    margin-bottom: 10px;
}

.showano .right .images {
    min-height: 112.5px;
    color: var(--off-white);
    background: var(--opacity-color);
    padding: 10px 10px;
    margin-bottom: 10px;
    position: relative;
}

.showano .right .images .result {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.showano .right .images .result .v-image {
    width: 100px;
}

.showano .right .images .result .v-image .v-btn {
    color: var(--close);
    background: var(--opacity-color);
}

.showano .right .v-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    color: var(--off-white);
}


/* CONFIG SHOWANO */